<h1> Hi there, <%=userName%> </h1> 

<h1>    
Gavin's Page
</h1>

<h2> all enneagrams and links go here </h2>


<p> 
    Gavin Raney
    my enneagram = 6w7
    github @gavinraney
    <a href="https://github.com/gavinraney/devlab-november" target="_blank">Gavin's NOVEMBER repo</a>
</p>

<!-- TODO: create issue, all update this page -->


<form method="post" action="/saveToNode">
    <label>do that data!</label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>