<h1> Hi there, <%=userName%> </h1> 

<h1>    
Gavin's Page
</h1>

<h2> all enneagrams and links go here </h2>

<p> 
    Gavin
    my enneagram = 6w7
    on g/h @gavinraney
    this repo =
</p>

<p>
    Barry
    enneagram = 9
    on g/h @barrycumbie
    repo = 
</p>

<!-- TODO: create issue, all update this page -->


<form method="post" action="/saveToNode">
    <label>do that data!</label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>